.user-image-content{
    padding: 25px 45px 30px 30px;
}
.user-image {
    width: 284px;
    height: 280px;
    padding-bottom: 20px;
}

.user-infos-content{
    display: block;
    padding: 23px 23px 84px 0;
    width: 100%;
}

.user-statistics {
    display: flex;
    padding: 0 0 11px 0;
}

.user-info-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
    padding-top: 10px;
    padding-left: 15px; 
    padding-bottom: 20px;
    margin: 0;
}
