@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary: #1890FF;
    --background: #E5E5E5;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    margin-bottom: 0;
    font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 500;
}

.card-info{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
}